body {
    margin: 0;
    font-family: 'Titillium Web' ;
    background-color:rgb(255, 248, 248);
}


#titulo{
    margin: 0;
    font-size: 20px;
    font-weight: 700;
}

#downArrow{
    width: 15px;
}

.dropbtn {
    background-color:rgba(170, 60, 50, 0.9);
    color: white;
    min-width: 500px;
    padding: 2px 50px;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    line-height: 30px;
    font-family: 'Titillium Web' ;
  }

  .dropdown:hover .dropbtn {
    background-color: rgba(170, 60, 50, 0.8);
  }
  
  .dropdown {
    position: fixed;
    display: block;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .dropdown-content {
    display: none;
    width: 500px;
    position: inherit;
    background-color: rgba(248, 242, 242, 0.8);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 0.8rem;
    display: block;
  }
  
  .dropdown-content a:hover {background-color:rgba(170, 60, 50, 0.7)}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  

  .cuadro1{
      width: 60%;
      height: 140px; 
      float: left;
  }
  .cuadro2{
    margin-top: 15px;
    margin-bottom: 20px;
    width: 400px;
    float: right;
}
.cuadro2 p{
    margin: 0px 0px;
    font-size: 1.2rem;
    
}

.contactImg{
    margin-right: 50px;  
    padding-left: 10px; 
    max-width: 25px; 
    vertical-align: middle;
}

.seccion{
    width: 100%;
    float: left;
}

#img1{
    display: block;
    width: 91.58%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#intro{
    text-align: center;
    padding: 10px;
    width: 90%;
    font-size: 1.5rem;
    margin: 0 auto;
    background-color: rgb(255, 221, 221);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

h1{
    text-align: center;
    margin: 70px;
}

hr{
    width: 90%;
}

h2{
    margin-left: 30px;
    margin-bottom: 5px;
    font-size: 1.5rem;
    color: rgb(170, 60, 50);
}

.text1{
    font-size: 1.5rem;
    padding: 30px;
}

.text2{
    text-align: center;
    font-size: 1.5rem;
}

.imgSeccion{
    width: 75%;
    margin: 20px;
    float: right;
}



div.seccion div{
    background-color: rgb(255, 221, 221);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 90%;
    display: block;
    margin: auto;
}

.tableSkills {
    margin: auto;
    width: 85%;
    height: 270px;
}

.tableSkills tr td{
    width: 20%;
    height: auto;
    vertical-align: bottom;
    text-align: center;
}


.tableSkills p{
    margin-bottom: 0;
    vertical-align: bottom;
}

.imgskills:hover{
    max-width: 70%;
    
}

.imgskills{
    margin: 0;
    max-width: 60%;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    
}

.tableAchievements{
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    
}

.imagenachievements{
    width: 40%;
    text-align: center;
    
}

.imagenachievements img{
    width: 80%;
}

.textoachievements{
    width: 60%;
    padding-left: 20px;
    font-size: 1.5rem;
    background-color: rgb(255, 221, 221);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.footer{
    margin-top: 50px;
    background-color: rgb(80, 80, 80);
    color: white;
}

.footer table{
    width: 100%;
}
.footer table td{
    width: 50%;
}
.footer table td:first{
    width: 40%;
}
.footer table td a{
    margin-left: 40px;
}